// Images in the main element
main {
  img {
    object-fit: contain;

    // aspect-ratio: 16/9;

    @media (min-width: 576px) {
      aspect-ratio: 20/9;
    }

    @media (min-width: 768px) {
      aspect-ratio: 30/9;
    }
  }

  img:not(img[src*="products"]) {
    object-position: top left;
  }

  .card {
    img {
      //This keep the auctioncards the same size
      aspect-ratio: 20/9;
      transition: filter 0.4s;
    }

    &:hover img {
      filter: saturate(1.5);
    }
  }
}
