// Sticky footer
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  header {
    position: sticky;
    top: 0;
    justify-content: center;
  }

  main {
    flex: 1;
  }

  footer {
    margin-top: auto;
  }
}
