.content-card {
  background: #fff;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  max-width: 600px;
  border: 1px solid #e9ecef;
}

.user-profile-row {
  @extend .content-card;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
}

.user-avatar-col {
  text-align: center;
}

.user-avatar {
  width: 120px;
  height: 120px;
  border-radius: 1rem;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.user-avatar i {
  color: #6c757d;
  font-size: 3rem;
}

.user-name {
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: #212529;
  font-size: 1.5rem;
}

.editprofile-modal .modal-content {
  background: rgba(219, 218, 218, 0.877);
  backdrop-filter: blur(5px);
}